.face-snap-card {
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 2rem lightgray;
  width: calc((100vw - (18rem)) / 3);
  img {
    width: calc((100vw - (18rem)) / 3);
    height: calc((100vw - (18rem)) / 3);
    object-fit: cover;
    border-radius: 0.5rem;
  }
  .created-date {
    color: grey;
    text-align: right;
  }
  .face-snap-main {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
    button {
      border: none;
      background: none;
      font-size: 1.5rem;
      &:hover {
        background-color: lightblue;
        border-radius: 1rem;
      }
    }
  }
}
