<div class="face-snap-card">
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p class="created-date">
    <em
      >Mis en ligne le {{ faceSnap.createdDate.getDate() }}.{{
        faceSnap.createdDate.getMonth()
      }}.{{ faceSnap.createdDate.getFullYear() }}</em
    >
  </p>
  <div class="face-snap-main">
    <h1>{{ faceSnap.title }}</h1>
    <p>
      <span [ngStyle]="{ color: 'rgb(0,' + faceSnap.snaps + ',0)' }">{{
        faceSnap.snaps
      }}</span>
      <button [ngClass]="{ snapped: snapped }" (click)="onSnap()">👍</button>
    </p>
  </div>
  <p>{{ faceSnap.description }}</p>
  <p *ngIf="faceSnap.location">{{ faceSnap.location }}</p>
</div>
