a {
  text-decoration: none;
  color: black;
  .face-snap-card {
    margin: 1vw;
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem rgba($color: #000000, $alpha: 0.1);
    width: calc((88vw - (4rem)) / 3);
    &:hover {
      background-color: rgb(255, 187, 162);
    }
    h2 {
      margin: 0;
      font-family: "Indie Flower", cursive;
    }
    img {
      width: calc((88vw - (4rem)) / 3);
      height: calc((88vw - (4rem)) / 3);
      object-fit: cover;
      border-radius: 0.5rem;
    }
    .face-snap-main {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0.5rem 0;
    }
  }
}
